.about-me {
  text-align:center;
}
.skills-column {
  margin-left: 10px;
}
.colour{
  background-color: green;
}
.colour1{
  background-color: orange;
}
.colour2{
  background-color: lightblue;
}
.colour3{
  background-color:chocolate;
}
colour4{
  background-color:navajowhite;
}
.colour5{
  background-color:white;
}
.colour6{
  background-color:aqua;
}
